.hero {
    padding: 150px;
    text-align: center;
    display: grid;
    grid-gap: 25px;
    grid-template-rows: 2fr 1fr;
    background-color: black;
    background: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .hero {
        padding: 50px 25px;
    }
}
